@{
    ViewBag.Title = "About";
}
@section styles
{
    <link href="~/Content/about.css" rel="stylesheet" />
}

<div class="aboutUs">

        <div class="side">
            <h1 class="text-center">About Us</h1>
        </div>
        <div class="Info">
            <div class="banner">
                <div class="overlay">
                    <h1 class="lead">Our BlogApp</h1>
                </div>
            </div>
            <div class="container infoBoudy">
                <h1 class="text-center  ">About Us page (BlogApp)</h1>
                <div class="row  ">
                    <div class="col-md-6">
                        <p class="lead">
                            Hispanic Heritage Month recognizes the contributions and influence
                            of Hispanic Americans to the history, culture, and achievements of
                            the U.S. At Amazon, we honor the cultures and contributions of
                            Hispanic and Latino Americans year-round and are inspired by
                            the work they do to innovate for our customers every day.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="lead">
                            Even with varied roles across Amazon, they share the esperanza
                            (hope) of the Hispanic community and a common goal of delighting
                            our customers. Get to know some of these talented Amazon employees,
                            how their culture inspires them, and what they hope to instill in future
                            generations.
                        </p>

                    </div>
                </div>
            </div>
        </div>
</div>