@{
    ViewBag.Title = "Contact";
}
@section styles
{
    <link href="~/Content/contact.css" rel="stylesheet" />
}
<div class="contact-us">
    <div class="overlay">
        <div class="container">
            <p class="lead text-center">
                "Wellcome to our news website  ... You can contact<br /> with us from this form"
            </p>
            <form>
                <div class="row">
                    <div class="col-md-4 label">
                        <label>username</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 label">
                        <label>E-mail</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 label">
                        <label>Message</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <input type="submit" value="Send" class=" send btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

   